* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.addBtn,
.submitBtn {
    color: white;
    background-color: rgb(19, 117, 19);
    border-radius: 16px;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

.returnBtn {
    color: white;
    background-color: rgb(167, 7, 7);
    border-radius: 16px;
    padding: 10px 16px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}

.plannedGames {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.plannedGames span {
    display: block;
    width: 100%;
    text-align: center;
    color: lightgray;
}

.block {
    display: block;
}

.userInput {
    border-radius: 20px;
    width: 514px;
    padding: 5px;
    margin: 10px 0;
}

.userInput:focus {
    outline: none;
}

.errorMsg,
.successMsg {
    border: 4px darkred solid;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.342);
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px 0;
}

.feedback-elem {
    border: 4px darkgreen solid;
    border-radius: 20px;
    background-color: rgba(81, 255, 0, 0.342);
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
    margin: 6px 0;
}

.game_box {
    width: 200px;
    border-radius: 20px;
    border: black solid 4px;
    font-family: sans-serif;
    color: black;
    display: inline-block;
    text-align: left;
    background-color: lightskyblue;
    font-weight: bold;
    margin: 16px;
}

.game_box ul {
    padding: 10px;
    list-style-type: none;
}

.game_box ul li {
    overflow-x: auto;
    line-height: 26px;
}

.game_box ul li:last-of-type {
    text-transform: capitalize;
}

/* styling for confirm container and content inside it on plannedGame.php */
.confirm-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.confirm-box {
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 14px;
    font-size: 16px;
    font-family: sans-serif;
    z-index: 1;
}
.confirm-box * {
    padding: 2px;
    margin: 2px;
}

/* styling voor de changeGame.php page */

.content * {
    margin: 10px 0;
}
.content ul li {
    margin: 0;
}